.footer {   
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 20px 150px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        font-weight: 550;
        letter-spacing: 3px;
        text-transform: capitalize;
        font-size: 17px;
        cursor: pointer;

        span {
            color: orange;
        }
    }

    &__menu {
        list-style: none;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        gap: 0 150px;
    }
    &__item {
        cursor: pointer;
        font-size: 15px;
        letter-spacing: 1px;
    }
}